h1 {
  font-size: 80px;
  text-align: center;
  margin: 0px;

}
img{
  width:18vw; height:18vw;
}
.leftBox{
  float:left;
  width:18vw; height:18vw;
  margin-left: 90px;
}
.rightBox{
  float:right;
  width:18vw; height:18vw;
  margin-right: 90px;
}
.leftDownBox{
  float:left;
  width:18vw; height:18vw;
  margin-left: 90px;
}
.rightDownBox{
  float:right;
  width:18vw; height:18vw;
  margin-right: 90px;
}
#svarRigtig {
  font-size: 50px;
  text-align: center;
  color: green;
}
#svarForkert {
  font-size: 50px;
  text-align: center;
  color: red;
}

#score{font-size: 50px; text-align: center; margin: 5px;}



#div1{width:18vw; height:18vw; margin:0; padding:0vw;border:5px solid #aaaaaa;}

#div2{width:18vw; height:18vw; margin:0; padding:0vw;border:5px solid #aaaaaa;}

#div3{width:18vw; height:18vw; margin:0; padding:0vw;border:5px solid #aaaaaa;}

#div4{width:18vw; height:18vw; margin:0; padding:0vw;border:5px solid #aaaaaa;}


#div_slut{width:18vw;margin:auto;
}
#drag1 {margin: auto;}
